/* Make curses like block */
.highlight-default.notranslate .highlight {
    background: black;
    color: white;
}

.highlight-default.notranslate .highlight .mi {
    background: black;
    color: white;
}

.highlight-default.notranslate .highlight .mf {
    background: black;
    color: white;
}

.highlight-default.notranslate .highlight .nd {
    background: black;
    color: white;
}

.highlight-default.notranslate .highlight .o {
    background: black;
    color: white;
}

.highlight-default.notranslate .highlight .s1 {
    background: black;
    color: white;
}

.highlight-default.notranslate .highlight .s2 {
    background: black;
    color: white;
}
